html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f7f7f7;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
}
